# Environment Variables for DataXpert

# Flask Configuration
SECRET_KEY=5d235e0f59fff9db61c66e45b6da2e3421d6fc53e4e7ec0ded04b298413e39bd
JWT_SECRET_6e00d28f77d8969753bebf7cef778de8dcbb1949a481006e63038df0aa5f805e
FLASK_ENV=development
FLASK_DEBUG=True

# Supabase Configuration
SUPABASE_URL=https://mtrbjdlwsnpbcjfagkkp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10cmJqZGx3c25wYmNqZmFna2twIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5NTk0MDAsImV4cCI6MjA4NTUzNTQwMH0.4jTrGp_hdYVAIpC4RPw8ccSfCf6A9partHZzoLAdGIA

# Google OAuth Configuration
GOOGLE_CLIENT_ID=72842356502-gfq4rk82nmivklusv8odapj450kmvh5p.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:5500

# Server Configuration
HOST=0.0.0.0
PORT=5000
